h1{color:rgb(150, 148, 148)}
ul{color:#df7bad;}
summary{color:rgb(90, 167, 167);}
h2{color:#a385eb;}
/* styles/main.css */
.card {
  width: 600px; height: 130px;
  display: flex; align-items: center; justify-content: center;  /* 글자 가운데 (flex 가운데정렬 3종 세트) */
  color: white; font-size: 18px; font-weight: bold;
  border-radius: 20px;   /* 모서리 둥글게 */
  background: linear-gradient(135deg, #eb59a2, #936eeb);   /* 135도 방향으로 분홍→보라 색 섞기 */
  box-shadow: 0 0 25px rgba(236, 72, 153, 0.7); 
  margin: 50px;           /* 0 0=그림자 위치(가운데), 25px=흐림 반경 → 네온빛 · rgba 끝 0.7=투명도 70% */
}